*{
    margin: 0px;
    padding: 0;
}

body{
   
    display: grid;
    max-width: 100%;
    margin: 0;
    background-image: linear-gradient(black, blue, white);
    background-repeat: no-repeat;
    background-size: cover;
}

.containerimg {
    background-image: url(./abstratos-arte-digital-roxos-imagem-de-fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header{
    width: 100%;

}

.containerimg>h1{
    
    border-radius: 20px;
    display: flex;
}


.thead{
    
    display: grid;
    justify-content: center; 
    
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dadoscliente{
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    width: 600px;
}

input, input#email, input#fone{
    width: 97%;
    border-radius: 5px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.55);
    color: white;
}

table{
    /* background-color: rgba(0, 0, 0, 0.55); */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
        
}

.topo{
    background-color: rgba(0, 0, 0, 0.55);
    color: white;
    border-radius: 10px;
    font-size: 30px;
    background-size: 50%;
}

.rodape{
    width: 100%;
    
    color: white;
    justify-content: center;
    display: flex;
    padding: 2px;
    margin-top: 10rem;
    padding: 10px;
}



.dadoscadastro{
    
    display: flex;
    justify-content: center;
    color: white;
    word-spacing: 150px;
    font-style: oblique;
}

th{
    border-radius: 8px;
    
}

table, table#table-dark{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    
}

@media screen and (max-width: 720px) {
    
    *{
        margin: 0;
        padding: 0;
    }

    body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;  
        width: 100%;
        
        background-image: linear-gradient(black,blue, white);              
    }

    main{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .dadoscliente{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 100%;
        margin: 0;
    }
       
    tbody{
        display: flex;
        flex-direction: column;
        align-items: center;    
    }

    table{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: none;
    }

    .rodape{
        width: 100%;
    }

    tbody#dados{
        color: rgba(0, 0, 0, 0);
        
    }

    td{
        color: white;
        border-radius: 5px;  
        line-height: 1.7;      
    }

    label:hover{
        color: blue;
    }

    label.topo{
        font-style: italic;
        font-size: 17px;
        font-weight: 100;
        background-color: rgba(0, 0, 0, 0.55);
        width: 50%;

    }

    input#nome, input#email, input#fone{
        display: flex;
        width: 50%;
        border-radius: 5px;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.55);
        color: white;
    }

    footer.rodape{
        font-style: italic;
        color: rgb(47, 85, 255);
    }

    .containerimg{
        background-image: url(./abstratos-arte-digital-roxos-imagem-de-fundo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        width: 100%;
    }

    .dadoscadastro{
        width: 80%;   
    }
}



