*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-image: linear-gradient(black, black, blue, white)
}

.containerlogo{
    display: flex;
    height: 55px;
}
    


.containerprincipal{
    position: fixed;
    width: 100%;
    background-color: black;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerlogo img{
    width: 6rem;
    object-fit: cover;
    margin-left: 1rem;
}

.menucontainer{
    justify-content: space-between;
    display: flex;
}

.menucontainer a{
    color: white;
    text-decoration: none;
    background-color: black;
}

.containeradm{
    color: black;   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 3px;
}

iframe{
    margin-top: 6rem;
    width: 100%;
    height: 80vh;
    border-style: none;
}

.rodape{
    background-color: black;
    height: 10vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown{
    display: block;
    border-radius: 8px;
    
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content{
    display: none;
    background-color: black;
    color: white;
    position: absolute;
    padding: 10px 0;
    border-radius: 8px;
    border-style: outset;
    border-color: dodgerblue;
    
    
}

.dropdown-content i{
    font-size: 12px;

}

.drop2{
    width: 94px;
    display: flex;
    flex-direction: column;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
}

.login button i{
    font-size: 25px;
}

.dropdown button{
    width: 100px;
    border-radius: 10px;
}

.dropdown-content a{
    padding: 2px;
}

.dropdown input{
    border-radius: 12px;
}

@media screen and (max-width: 480px){
    .containerlogo img{
        width: 4rem;
    }

    .dropdown button{
        width: 3rem;
    }

    /* .login button{
        width: 5rem;
    } */

    input#senha, input#email{
        width: 60%;
        font-size: 10px; 
    }
 
    .login button{
        height: 20px;
        width: 50%;
    }

    .login i.material-icons{
        display: none;
    }

    

}